@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html {
    @apply text-primary
}


.line-l2r {
    @apply relative;
    @apply inline-block;
    @apply no-underline;
}

.line-l2r::after {
    @apply absolute;
    @apply -bottom-1;
    @apply left-0;
    @apply w-full;
    @apply h-0.5;
    @apply bg-accent;
    content: '';
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}

.line-l2r:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
